{% extends 'base.html' %}

{% block title %}
    О нас
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-5" style="max-width: 600px; width: 100%; border-radius: 12px; background-color: #f7f7f7;">
        <h1 class="text-center" style="color: #d3a6b6; font-size: 3rem;">Страница не найдена</h1>
        <p class="text-center" style="font-size: 1.2rem; color: #333;">Такой страницы не существует. Вы можете вернуться на <a href="/" class="btn btn-link" style="color: #d3a6b6; text-decoration: underline; font-size: 1.5rem;">главную</a></p>
    </div>
</div>
{% endblock %}
