{% extends 'base.html' %}

{% block title %}
Корректировка
{% endblock %}

{% block body %}
<div class="container mt-5 pt-5">
    <h1>Обновление позиции</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ position.title }}" placeholder="Ввести название"><br>
        <textarea name="description" id="description" class="form-control" placeholder="Введите описание">{{ position.description }}</textarea><br>
        <textarea name="images" id="images" class="form-control" placeholder="Введите ссылки на изображения">{{ position.images }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить"><br>

    </form>
</div>
{% endblock %}
